body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*1em = 100% = 16px; and 1em inherits from its parent while 1rem does not*/
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 auto auto auto;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #E4f9f5;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.profile-pic {
  border-radius: 50%;
  width: 15%;
}

.skills-logo {
  width: 10%;
}
