body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*1em = 100% = 16px; and 1em inherits from its parent while 1rem does not*/
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

p {
  line-height: 2; /* if no units are mentioned, it means n*default, here 2*1.2 = 2.4 */
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.profile-pic {
  border-radius: 50%;
  width: 15%;
  margin-top: 10px;
}

.brief-intro {
  margin: 0 auto auto auto;
}

.intro {
  line-height: 2;
  margin: auto;
  width: 45%;
}

.skills-logo {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 75px auto;
  text-align: left;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11ccd4;
  background-image: -webkit-linear-gradient(top, #11ccd4, #11999e);
  background-image: -moz-linear-gradient(top, #11ccd4, #11999e);
  background-image: -ms-linear-gradient(top, #11ccd4, #11999e);
  background-image: -o-linear-gradient(top, #11ccd4, #11999e);
  background-image: linear-gradient(to bottom, #11ccd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
